*{
     margin:0;
     padding: 0;
}
 html,body{
     height: 100%;
     font-family: 'Dosis', sans-serif 
}
 body{
     background-color: #e0e0e0;
}
 .navbar-brand{
     font-size: 1.5rem;
}
 .nav-link{
     font-size: 1.3rem;
     font-family: 'Abel', sans-serif;
}
 .navbar{
     background-color: transparent;
     border: none;
     color: white;
     z-index: 999999;
     transition: background-color 1s ease 
}

 .navbar.solid {
     background-color: #234360;
     transition: background-color 0.3s ease 0.1s;
     box-shadow: 0 0 4px grey;
}
 #footer {
     background: #234360 !important;
     padding: 60px 0;
}
 #footer h5{
     padding-left: 10px;
     border-left: 3px solid #eeeeee;
     padding-bottom: 6px;
     margin-bottom: 20px;
     color:#ffffff;
}
 #footer a {
     color: #ffffff;
     text-decoration: none !important;
     background-color: transparent;
     -webkit-text-decoration-skip: objects;
}
 #footer ul.social li{
     padding: 3px 0;
}
 #footer ul.social li a i {
     margin-right: 5px;
     font-size:25px;
     -webkit-transition: .5s all ease;
     -moz-transition: .5s all ease;
     transition: .5s all ease;
}
 #footer ul.social li:hover a i {
     font-size:30px;
     margin-top:-10px;
}
 #footer ul.social li a, #footer ul.quick-links li a{
     color:#ffffff;
}
 #footer ul.social li a:hover{
     color:#eeeeee;
}
 #footer ul.quick-links li{
     padding: 3px 0;
     -webkit-transition: .5s all ease;
     -moz-transition: .5s all ease;
     transition: .5s all ease;
}
 #footer ul.quick-links li:hover{
     padding: 3px 0;
     margin-left:5px;
     font-weight:700;
}
 #footer ul.quick-links li a i{
     margin-right: 5px;
}
 #footer ul.quick-links li:hover a i {
     font-weight: 700;
}
/*Media Queries*/
@media (max-width:767px){
     #footer h5 {
         padding-left: 0;
         border-left: transparent;
         padding-bottom: 0px;
         margin-bottom: 10px;
    }
}
 @media (max-width: 1199px) {
     #about-img{
         width: 500px;
    }
}
@media (max-width:988px){
             .navbar {
                background-color:#234360;
            }
}

 #cover-caption{
     width: 100% 
}
 .section-content{
     padding: 5rem 0;
}
.card-schedule,.card-register{
    padding: 1rem;
}
.card{
     padding: 1rem;
}
div.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/*about*/
 #about-bg-img{
     background: url('../images/Troy Logistics Logo-sm.png') center center no-repeat;
     background-size: cover;
}
 .about-text{
     background: rgba(0,0,0,0.8);
     color: white;
     padding: 1.875rem;
}

/*services*/
 .services-text{
     color: black;
     padding: 1.875rem;
}
 #services-list{
     width:100%;
}
 .image-bg {
     background-size: cover!important;
     width: 100%;
     background-repeat: no-repeat;
}
 @media only screen and (max-width: 767px) {
     .image-bg {
         min-height: 50%;
    }
}
 @media (min-width: 992px) {
     .col-md-push-6 {
         left: 50%;
    }
}
 @media (min-width: 992px) {
     .col-md-pull-6 {
         right: 50%;
    }
}
